img {
	padding-top: 180px;
	margin: 0 auto;
	text-align: -webkit-center;
	display: block;
}
p {
	text-align: center;
}
input {
	margin: 20px 0 0 0;
	height: 30px;
	width: 450px;
	font-size: 16px;
}
button {
	background-color: #eee;
	border: none;
	height: 35px;
	color: #444;
    margin: 20px 2px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: left;
}

li a {
	display: block;
	padding:  8px;
	text-align: center;
    color: #555;
    text-decoration: none;
}

.bar {
	height: 40px;
	position: fixed;
	background-color: #eee;
	width: 100%;
    margin: 0;
}

#top {
    background-color: white;
}

#bot {
	bottom: 0;
}

.right{
    float: right;
}

body {
    font-family: Arial;
    font-size: 13px;
}

li:last-child{
    padding-right: 10px;
}